{% extends 'base.html' %} {% block jumbotron %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h2>Machine learning-based prediction of COVID-19 diagnosis based on symptoms</h2>
        <br />
        <p>
            <a
                class="btn btn-primary btn-lg"
                href="{{url_for('create')}}"
                role="button"
                >Try Detector &raquo;</a
            >
        </p>
    </div>
</div>
{% endblock jumbotron %} {% block content %}
<section id="cards">
    <h2>Last Detections:</h2>
    <br />
    <div class="card-columns">
        {% for detection in detections %}
        <div class="card">
            {% if detection.corona_result == 1 %}
            <div class="card-header bg-danger">
                <a
                    href="{{ url_for('detection', detection_id=detection['id']) }}"
                    style="color: white; text-decoration: none"
                    >#{{ detection.id }} - {{ detection.fullname }} ({{
                    detection.age }} y.o.)</a
                >
            </div>
            {% else %}
            <div class="card-header bg-success">
                <a
                    href="{{ url_for('detection', detection_id=detection['id']) }}"
                    style="color: white; text-decoration: none"
                    >#{{ detection.id }} - {{ detection.fullname }} ({{
                    detection.age }} y.o.)</a
                >
            </div>
            {% endif %}
            <div class="card-block">
                <p class="card-text">
                    {% if detection.corona_result == 1 %} Positive
                    possibilities. {% else %} Negative possibilities. {% endif
                    %}
                    <br />
                    <small class="text-muted">{{ detection.created }}</small>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
